.main{
    margin: 0% 12% 0% 12%;
}

.container__description{
    position: relative;
    top: 200px;
    margin-bottom: 400px;
}

.description__txt{
    font-size: 1.3em;
    padding-bottom: 20px;
}

.boton__tienda{
    position: relative;
    top: -170px;
    border: 1px solid #FF1A59;
    width: 180px;
    height: 60px;
    text-align: center;
    padding: 18px;
    background: #FF1A59;
    cursor: pointer;
}

.link__tienda{
    text-decoration: none;
    color: white;
}
